![RedTen](http://i.imgur.com/pI7TE3w.png)

## Predicting the SPY's Future Closing Price with a Multi-Model Forecast

Creating many machine learning models to predict future price movements from Redis.

![If only managing my portfolio was this easy...](http://i.imgur.com/2ectZu8.png)

### How?

1. Uses pricing metrics (hlocv)
1. Streamline development and deployment of machine learning forecasts by storing large, pre-trained models living in Redis
1. Custom rolled dataset (takes about 7 hours per 1 ticker)
1. Technical indicators

### Why?

1. Took too long to manually rebuild the dataset, and build + tune new models
1. Improve model accuracy by tracking success (situational/seasonal risks)
1. Wanted simple, consistent delivery of results
1. Service layer for abstracting model implementation
1. Multi-tenant, distributed machine learning cloud
1. Team needed Jupyter integration
1. Data security - so it had to run on-premise and cloud

__Now it takes 30 minutes to build the dataset and 5 minutes to make new predictions__

## Sample SPY Multi-Model Forecast

![Combined HLOCV forecast](http://i.imgur.com/iraWaZV.png)

## Setup the Environment

Load the shared core, methods, and environment before starting processing

In [1]:
from __future__ import print_function
import sys, os, requests, json, datetime

# Load the environment and login the user
from src.common.load_redten_ipython_env import user_token, user_login, csv_file, run_job, core, api_urls, ppj, rt_url, rt_user, rt_pass, rt_email, lg, good, boom, anmt, mark, ppj, uni_key, rest_login_as_user, rest_full_login, wait_for_job_to_finish, wait_on_job, get_job_analysis, get_job_results, get_analysis_manifest, get_job_cache_manifest, build_prediction_results, build_forecast_results, get_job_cache_manifest, search_ml_jobs, show_logs, show_errors, ipyImage, ipyHTML, ipyDisplay, pd, np

## Configure the job

In [2]:
# dataset name is the ticker
ds_name = "SPY"

# Label and description for job
title = str(ds_name) + " Forecast v5 - " + str(uni_key())
desc = "Forecast simulation - " + str(datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

# Whats the algorithm model you want to use?
algo_name = "xgb-regressor"

# If your dataset is stored in redis, you can pass in the location
# to the dataset like: <redis endpoint>:<key>
rloc = "" 

# If your dataset is stored in S3, you can pass in the location 
# to the dataset like: <bucket>:<key>
sloc = "" 

# During training what ratio of tests-vs-training do you want to use?
# Trade off smarts vs accuracy...how smart are we going?
test_ratio = 0.1

# Customize dataset samples used during the analysis using json dsl
sample_filter_rules = {}

# What column do you want to predict values?
target_column_name = "FClose"

# What columns can the algorithms use for training and learning?
feature_column_names = [ "FHigh", "FLow", "FOpen", "FClose", "FVolume" ]

# values in the Target Column
target_column_values = [ "GoodBuys", "BadBuys", "Not Finished" ] 

# How many units ahead do you want to forecast?
units_ahead_set = [ 5, 10, 15, 20, 25, 30 ]
units_ahead_type = "Days"

# Prune non-int/float columns as needed: 
ignore_features = [       
                "Ticker",
                "Date",
                "FDate",
                "FPrice",
                "DcsnDate",
                "Decision"
            ]

# Set up the XGB parameter
# https://github.com/dmlc/xgboost/blob/master/doc/parameter.md
train_xgb = {
                "learning_rate" : 0.20, 
                "num_estimators" : 50, 
                "sub_sample" : 0.20, 
                "col_sample_by_tree" : 0.90, 
                "col_sample_by_level" : 1.0, 
                "objective" : "reg:linear",
                "max_depth" : 3,
                "max_delta_step" : 0,
                "min_child_weight" : 1, 
                "reg_alpha" : 0, 
                "reg_lambda" : 1,
                "base_score" : 0.6,
                "gamma" : 0,
                "seed" : 42, 
                "silent" : True
            } 

# Predict new price points during the day
predict_row = {
                "High"   : 250.82,
                "Low"    : 245.54,
                "Open"   : 247.77,
                "Close"  : 246.24,
                "Volume" : 77670266
            }

## Start Forecasting

In [3]:
job_id = None # on success, this will store the actively running job's id
csv_file = ""
post_data = {
            "predict_this_data" : predict_row,
            "title" : title,
            "desc" : desc,
            "ds_name" : ds_name,
            "target_column_name" : target_column_name,
            "feature_column_names" : feature_column_names,
            "ignore_features" : ignore_features,
            "csv_file" : csv_file,
            "rloc" : rloc,
            "sloc" : sloc,
            "algo_name" : algo_name,
            "test_ratio" : test_ratio,
            "target_column_values" : target_column_values,
            "label_column_name" : target_column_name, 
            "prediction_type" : "Forecast",
            "ml_type" : "Playbook-UnitsAhead",
            "train" : train_xgb,
            "tracking_type" : "",
            "units_ahead_set" : units_ahead_set,
            "units_ahead_type" : units_ahead_type,
            "forecast_type" : "ETFPriceForecasting",
            "sample_filters" : sample_filter_rules,
            "predict_units_back" : 90, # how many days back should the final chart go?
            "send_to_email" : [ "jay.p.h.johnson@gmail.com" ] # comma separated list
        }

anmt("Running job: " + str(title))

auth_headers = { 
            "Content-type": "application/json",
            "Authorization" : "JWT " + str(user_token)
        }

job_response = run_job(post_data=post_data, headers=auth_headers)

if job_response["status"] != "valid":
    boom("Forecast job failed with error=" + str(job_response["status"]))
else:
    if "id" not in job_response["data"]:
        boom("Failed to create new forecast job")
    else:
        job_id = job_response["data"]["id"]
        job_status = job_response["data"]["status"]
        lg("Started Forecast job=" + str(job_id) + " with current status=" + str(job_status))
# end of if job was valid or not

Running job: SPY Forecast v5 - 34d6bf175cad4aaf9234aa06e95f4e4
Started Forecast job=558 with current status=requested

## Wait for the job to finish

In [4]:
job_data = {}
job_report = {}

# Should hook this up to a randomized image loader...
ipyDisplay(ipyImage(url="https://media.giphy.com/media/l397998l2DT0ogare/giphy.gif"))

job_res = {}
if job_id == None:
    boom("Failed to start a new job")
else:
    job_res = wait_on_job(job_id)

    if job_res["status"] != "SUCCESS":
        boom("Job=" + str(job_id) + " failed with status=" + str(job_res["status"]) + " err=" + str(job_res["error"]))
    else:
        job_data = job_res["record"]
        anmt("Job Report:")
        lg(ppj(job_data), 5)
# end of waiting

Waiting on job=558 url=https://redten.io/ml/558/
Job=558 is training - Step 3/10
Job=558 is analyzing - Step 5/10
Job=558 is caching - Step 6/10
Job=558 is plotting - Step 7/10
Job=558 is uploading - Step 9/10
Job=558 completed
Job Report:
{
    "job": {
        "algo_name": "xgb-regressor",
        "control_state": "active",
        "created": "2017-05-26 08-02-13",
        "csv_file": "",
        "desc": "Forecast simulation - 2017-05-26 08:02:13",
        "ds_name": "SPY",
        "feature_column_names": [
            "FHigh",
            "FLow",
            "FOpen",
            "FClose",
            "FVolume"
        ],
        "id": 558,
        "ignore_features": [
            "Ticker",
            "Date",
            "FDate",
            "FPrice",
            "DcsnDate",
            "Decision"
        ],
        "images": [
            {
                "author_name": null,
                "desc": null,
                "id": 12122,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12122_7c49dccd964548fc.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 5-Days - Predictive Accuracy\nPredicted Close 5 Days vs Actual Close 5 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12121,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12121_5ae84fdafa034174.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 5-Days - Predictive Accuracy\nPredicted High 5 Days vs Actual High 5 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12120,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12120_2d87f32772344921.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 10-Days - Predictive Accuracy\nPredicted Close 10 Days vs Actual Close 10 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12119,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12119_c54a1003037d4eb3.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 15-Days - Predictive Accuracy\nPredicted Close 15 Days vs Actual Close 15 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12118,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12118_192e7a3c4ba840fc.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 30-Days - Predictive Accuracy\nPredicted Close 30 Days vs Actual Close 30 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12117,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12117_6b74cc14075f4f20.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 25-Days - Predictive Accuracy\nPredicted Low 25 Days vs Actual Low 25 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12116,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12116_1fed112e3a4e42ff.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 20-Days - Predictive Accuracy\nPredicted Low 20 Days vs Actual Low 20 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12115,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12115_795d9657c2534f76.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 15-Days - Predictive Accuracy\nPredicted Volume 15 Days vs Actual Volume 15 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12114,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12114_c19203024ec84944.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 30-Days - Predictive Accuracy\nPredicted Volume 30 Days vs Actual Volume 30 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12113,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12113_1b000088cf154451.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 10-Days - Predictive Accuracy\nPredicted Volume 10 Days vs Actual Volume 10 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12112,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12112_c72e079979774d17.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 20-Days - Predictive Accuracy\nPredicted Open 20 Days vs Actual Open 20 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12111,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12111_b0c21c4c4d0d4e7a.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 30-Days - Predictive Accuracy\nPredicted High 30 Days vs Actual High 30 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12110,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12110_2a27883839464a6c.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 25-Days - Predictive Accuracy\nPredicted Open 25 Days vs Actual Open 25 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12109,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12109_325e5fefa07a444d.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 15-Days - Predictive Accuracy\nPredicted High 15 Days vs Actual High 15 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12108,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12108_7dfe5cad6dd341c2.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 10-Days - Predictive Accuracy\nPredicted High 10 Days vs Actual High 10 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12107,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12107_2fcaa612a10346d9.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 15-Days - Predictive Accuracy\nPredicted Low 15 Days vs Actual Low 15 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12106,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12106_29c5e186270348f4.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 5-Days - Predictive Accuracy\nPredicted Open 5 Days vs Actual Open 5 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12105,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12105_7139a2dd4df5447b.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 10-Days - Predictive Accuracy\nPredicted Low 10 Days vs Actual Low 10 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12104,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12104_74d4b72e2bd342d6.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 25-Days - Predictive Accuracy\nPredicted Close 25 Days vs Actual Close 25 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12103,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12103_286431b3eabc4af5.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 5-Days - Predictive Accuracy\nPredicted Volume 5 Days vs Actual Volume 5 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12102,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12102_b8f6174000f5455c.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 20-Days - Predictive Accuracy\nPredicted Close 20 Days vs Actual Close 20 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12101,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12101_bfe9888ad15648f9.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 30-Days - Predictive Accuracy\nPredicted Low 30 Days vs Actual Low 30 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12100,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12100_0761ea1b0f684ce9.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 25-Days - Predictive Accuracy\nPredicted Volume 25 Days vs Actual Volume 25 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12099,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12099_8f73f41290794595.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 20-Days - Predictive Accuracy\nPredicted Volume 20 Days vs Actual Volume 20 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12098,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12098_5fd3e28826754f24.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 20-Days - Predictive Accuracy\nPredicted High 20 Days vs Actual High 20 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12097,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12097_214858c79e704f4c.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 30-Days - Predictive Accuracy\nPredicted Open 30 Days vs Actual Open 30 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12096,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12096_168bcf41ff5142ad.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 25-Days - Predictive Accuracy\nPredicted High 25 Days vs Actual High 25 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12095,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12095_de06fd5548504b41.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 15-Days - Predictive Accuracy\nPredicted Open 15 Days vs Actual Open 15 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12094,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12094_354bb5267c694ba5.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 5-Days - Predictive Accuracy\nPredicted Low 5 Days vs Actual Low 5 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12093,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12093_e2ecdc03bc8a4f30.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY-2-558 10-Days - Predictive Accuracy\nPredicted Open 10 Days vs Actual Open 10 Days",
                "version": 1
            },
            {
                "author_name": null,
                "desc": null,
                "id": 12092,
                "image": "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12092_954ad32f51ef47f4.png",
                "json_data": null,
                "label": null,
                "shareable_link": null,
                "sloc": null,
                "status": "initial",
                "title": "SPY Close forecast overlay between 2017-02-27 00:00:00 - 2017-05-15 00:00:00",
                "version": 1
            }
        ],
        "manifest_secret_key": "live_2_f3f31f711f1b4081862a1927be0758880c3b3f00e2848aeb2a7f68997b4e17",
        "manifest_sloc": "redten-models-west:SPY-2-558_manifest.json",
        "max_features": 10,
        "ml_type": "Playbook-UnitsAhead",
        "prediction_type": "forecast",
        "rloc": "",
        "sloc": "",
        "status": "completed",
        "target_column_name": "FClose",
        "target_column_values": [
            "GoodBuys",
            "BadBuys",
            "Not Finished"
        ],
        "title": "SPY Forecast v5 - 34d6bf175cad4aaf9234aa06e95f4e4",
        "units_ahead_set": [
            5,
            10,
            15,
            20,
            25,
            30
        ],
        "units_ahead_type": "Days",
        "updated": "2017-05-26 08-03-53",
        "version": 1
    }
}

## Get Forecast Accuracies

In [5]:
job_report = {}
if job_id == None:
    boom("Failed to start a new job")
else:
    # Get the analysis, but do not auto-show the plots
    job_report = get_job_analysis(job_id, show_plots=False)
    if len(job_report) == 0:
        boom("Job=" + str(job_id) + " failed")
    else:
        lg("")
    # if the job failed
# end of get job analysis

# Build the forecast accuracy dictionary from the analysis
# and show the forecast dataframes
acc_results = build_forecast_results(job_report)
for col in acc_results:
    col_node = acc_results[col]
    
    predictions_df = col_node["predictions_df"]
    date_predictions_df = col_node["date_predictions_df"]
    train_predictions_df = col_node["train_predictions_df"]
    
    lg("--------------------------------------------------")
    # for all columns in the accuracy dictionary:  
    # successful predictions above 90%...how's that error rate though?
    if col_node["accuracy"] > 0.90: 
        good("Column=" + str(col) + " accuracy=" + str(col_node["accuracy"]) + " mse=" + str(col_node["mse"]) + " num_predictions=" + str(len(col_node["date_predictions_df"].index)))
    # successful predictions between 90% and 80%...how's that error rate though?
    elif 0.90 > col_node["accuracy"] > 0.80:
        lg("Column=" + str(col) + " accuracy=" + str(col_node["accuracy"]) + " mse=" + str(col_node["mse"]) + " num_predictions=" + str(len(col_node["date_predictions_df"].index)))
    else:
        boom("Column=" + str(col) + " is not very accurate: accuracy=" + str(col_node["accuracy"]) + " mse=" + str(col_node["mse"]) + " num_predictions=" + str(len(col_node["predictions_df"].index)))
    # end of header line
    
    # show the timeseries forecast
    ipyDisplay(date_predictions_df)
    
    lg("")
# end of showing prediction results

Getting analysis for job=558 url=https://redten.io/ml/analysis/558/
SUCCESS - GET Analysis Response Status=200 Reason=OK
Found Job=558 analysis

--------------------------------------------------
Column=FOpen_10 accuracy=0.99848923125 mse=1.87511875363 num_predictions=50

     COpen       Date       FOpen
0   236.64 2017-02-27  237.073318
1   236.67 2017-02-28  236.157669
2   238.39 2017-03-01  237.216782
3   239.56 2017-03-02  235.210175
4   238.17 2017-03-03  233.699661
5   237.50 2017-03-06  237.479095
6   237.71 2017-03-07  235.920334
7   237.34 2017-03-08  237.982605
8   236.70 2017-03-09  237.568695
9   237.97 2017-03-10  235.905457
10  237.62 2017-03-13  236.509735
11  237.18 2017-03-14  234.706680
12  237.56 2017-03-15  236.196335
13  239.11 2017-03-16  235.618851
14  237.75 2017-03-17  236.832428
15  237.03 2017-03-20  236.587128
16  237.47 2017-03-21  237.348419
17  233.77 2017-03-22  237.528641
18  234.00 2017-03-23  234.676941
19  234.38 2017-03-24  236.232239
20  231.93 2017-03-27  235.156250
21  233.27 2017-03-28  234.025803
22  234.99 2017-03-29  234.184830
23  235.47 2017-03-30  233.101852
24  235.90 2017-03-31  237.531754
25  235.80 2017-04-03  233.742493
26  234.95 2017-04-04  235.229843
27  236.26 2017-04-05  236.990433
28  234.94 2017-04-06  237.611145
29  235.15 2017-04-07  234.539597
30  235.36 2017-04-10  237.734253
31  234.90 2017-04-11  236.622452
32  234.74 2017-04-12  234.549881
33  233.64 2017-04-13  236.684601
34  233.64 2017-04-14  237.827515
35  233.11 2017-04-17  235.516617
36  233.72 2017-04-18  236.572464
37  234.52 2017-04-19  237.910950
38  235.25 2017-04-21  237.734253
39  237.18 2017-04-24  233.342529
40  237.91 2017-04-25  237.520111
41  238.51 2017-04-26  232.563446
42  238.77 2017-04-27  234.030930
43  238.90 2017-04-28  234.826447
44  238.68 2017-05-01  236.066803
45  238.84 2017-05-02  235.076416
46  238.29 2017-05-03  233.416733
47  238.83 2017-05-04  236.058029
48  239.19 2017-05-05  235.863937
49  239.75 2017-05-08  235.429077

--------------------------------------------------
Column=FLow_5 accuracy=0.998086039927 mse=1.85004769663 num_predictions=55

      CLow       Date        FLow
0   236.35 2017-02-27  236.929581
1   236.02 2017-02-28  236.010742
2   238.37 2017-03-01  233.294571
3   238.21 2017-03-02  232.308624
4   237.73 2017-03-03  234.968628
5   237.01 2017-03-06  236.273605
6   237.71 2017-03-07  236.508759
7   236.40 2017-03-08  233.406143
8   235.74 2017-03-09  235.658737
9   236.59 2017-03-10  231.818314
10  237.24 2017-03-13  234.524475
11  236.19 2017-03-14  235.794052
12  237.29 2017-03-15  233.459610
13  238.10 2017-03-16  233.198196
14  237.03 2017-03-17  237.028275
15  236.32 2017-03-20  233.921158
16  233.58 2017-03-21  235.768692
17  233.05 2017-03-22  236.422226
18  233.60 2017-03-23  236.376251
19  232.96 2017-03-24  233.915695
20  231.61 2017-03-27  236.468430
21  233.14 2017-03-28  236.915192
22  234.72 2017-03-29  235.886642
23  235.27 2017-03-30  233.052322
24  235.68 2017-03-31  235.961349
25  233.91 2017-04-03  232.261780
26  234.56 2017-04-04  234.373062
27  234.54 2017-04-05  233.631317
28  234.42 2017-04-06  234.610016
29  234.64 2017-04-07  236.890594
30  234.73 2017-04-10  234.642807
31  233.34 2017-04-11  234.695312
32  233.77 2017-04-12  233.865128
33  232.51 2017-04-13  236.446716
34  232.51 2017-04-14  235.104309
35  232.88 2017-04-17  233.097855
36  233.08 2017-04-18  236.518036
37  233.18 2017-04-19  236.571960
38  234.13 2017-04-21  234.559448
39  234.56 2017-04-24  236.496582
40  237.81 2017-04-25  236.412048
41  238.35 2017-04-26  236.186478
42  237.98 2017-04-27  235.107819
43  237.93 2017-04-28  233.527512
44  238.20 2017-05-01  236.808197
45  238.30 2017-05-02  236.269989
46  237.70 2017-05-03  235.095825
47  237.78 2017-05-04  234.935760
48  238.68 2017-05-05  235.331024
49  239.17 2017-05-08  234.041565
50  239.04 2017-05-09  236.181931
51  239.04 2017-05-10  236.355286
52  238.13 2017-05-11  232.871155
53  238.67 2017-05-12  233.601791
54  239.45 2017-05-15  236.600067

--------------------------------------------------
Column=FOpen_15 accuracy=0.998673216637 mse=1.36712346617 num_predictions=45

     COpen       Date       FOpen
0   236.64 2017-02-27  238.666595
1   236.67 2017-02-28  237.613739
2   238.39 2017-03-01  237.458069
3   239.56 2017-03-02  236.777634
4   238.17 2017-03-03  238.085297
5   237.50 2017-03-06  237.372849
6   237.71 2017-03-07  234.226608
7   237.34 2017-03-08  235.627625
8   236.70 2017-03-09  236.552750
9   237.97 2017-03-10  234.387222
10  237.62 2017-03-13  234.385269
11  237.18 2017-03-14  234.300766
12  237.56 2017-03-15  238.415405
13  239.11 2017-03-16  234.556824
14  237.75 2017-03-17  235.208084
15  237.03 2017-03-20  235.048111
16  237.47 2017-03-21  236.497421
17  233.77 2017-03-22  234.135391
18  234.00 2017-03-23  234.963669
19  234.38 2017-03-24  234.820038
20  231.93 2017-03-27  237.683395
21  233.27 2017-03-28  238.560837
22  234.99 2017-03-29  238.095673
23  235.47 2017-03-30  236.939590
24  235.90 2017-03-31  237.795105
25  235.80 2017-04-03  237.874680
26  234.95 2017-04-04  233.943573
27  236.26 2017-04-05  234.943817
28  234.94 2017-04-06  238.051514
29  235.15 2017-04-07  235.384384
30  235.36 2017-04-10  237.187256
31  234.90 2017-04-11  234.732925
32  234.74 2017-04-12  233.787415
33  233.64 2017-04-13  238.512772
34  233.64 2017-04-14  234.131561
35  233.11 2017-04-17  238.079544
36  233.72 2017-04-18  233.760864
37  234.52 2017-04-19  234.805496
38  235.25 2017-04-21  234.080505
39  237.18 2017-04-24  236.442703
40  237.91 2017-04-25  233.432205
41  238.51 2017-04-26  234.990753
42  238.77 2017-04-27  236.403168
43  238.90 2017-04-28  235.337692
44  238.68 2017-05-01  237.205765

--------------------------------------------------
Column=FHigh_25 accuracy=0.99852625367 mse=2.07955530003 num_predictions=35

     CHigh       Date       FHigh
0   237.31 2017-02-27  238.076721
1   236.95 2017-02-28  234.146927
2   240.32 2017-03-01  237.973175
3   239.57 2017-03-02  237.950897
4   238.61 2017-03-03  237.457062
5   238.12 2017-03-06  238.205643
6   237.71 2017-03-07  237.868561
7   237.64 2017-03-08  233.265198
8   237.24 2017-03-09  234.387634
9   238.02 2017-03-10  237.551636
10  237.86 2017-03-13  235.177246
11  237.24 2017-03-14  237.380798
12  239.44 2017-03-15  234.876892
13  239.20 2017-03-16  235.736435
14  237.97 2017-03-17  238.128571
15  237.36 2017-03-20  237.794815
16  237.61 2017-03-21  237.752106
17  234.61 2017-03-22  236.209839
18  235.34 2017-03-23  234.751801
19  235.04 2017-03-24  234.983871
20  233.92 2017-03-27  238.090561
21  235.81 2017-03-28  233.964142
22  235.81 2017-03-29  237.529388
23  236.52 2017-03-30  234.443344
24  236.51 2017-03-31  238.910355
25  236.03 2017-04-03  237.520447
26  235.58 2017-04-04  237.694489
27  237.39 2017-04-05  234.321915
28  236.00 2017-04-07  238.316208
29  236.26 2017-04-10  237.038849
30  235.18 2017-04-11  237.573196
31  234.96 2017-04-12  235.150558
32  234.49 2017-04-13  238.119049
33  234.49 2017-04-14  234.923492
34  234.57 2017-04-17  235.094742

--------------------------------------------------
Column=FOpen_30 accuracy=0.998227319751 mse=3.31048708482 num_predictions=30

     COpen       Date       FOpen
0   236.64 2017-02-27  234.693985
1   236.67 2017-02-28  236.030411
2   238.39 2017-03-01  235.485245
3   239.56 2017-03-02  237.560745
4   238.17 2017-03-03  235.975784
5   237.50 2017-03-06  235.504822
6   237.34 2017-03-08  235.342697
7   236.70 2017-03-09  236.801010
8   237.97 2017-03-10  237.499802
9   237.62 2017-03-13  234.917587
10  237.18 2017-03-14  233.616501
11  237.56 2017-03-15  237.476257
12  239.11 2017-03-16  232.399368
13  237.75 2017-03-17  236.711685
14  237.03 2017-03-20  236.574722
15  237.47 2017-03-21  237.442719
16  233.77 2017-03-22  234.120331
17  234.00 2017-03-23  233.750183
18  234.38 2017-03-24  237.016220
19  231.93 2017-03-27  232.151428
20  233.27 2017-03-28  236.966064
21  234.99 2017-03-29  237.586349
22  235.47 2017-03-30  236.353043
23  235.90 2017-03-31  237.411346
24  235.80 2017-04-03  238.304245
25  234.95 2017-04-04  235.202972
26  236.26 2017-04-05  236.926498
27  234.94 2017-04-06  237.732910
28  235.15 2017-04-07  236.833130
29  235.36 2017-04-10  238.301956

--------------------------------------------------
Column=FHigh_20 accuracy=0.99830741251 mse=1.25659633163 num_predictions=40

     CHigh       Date       FHigh
0   237.31 2017-02-27  237.670395
1   236.95 2017-02-28  235.000000
2   240.32 2017-03-01  235.114883
3   239.57 2017-03-02  238.374283
4   238.61 2017-03-03  236.344513
5   238.12 2017-03-06  237.315735
6   237.71 2017-03-07  236.214111
7   237.64 2017-03-08  237.246307
8   237.24 2017-03-09  238.396393
9   238.02 2017-03-10  236.479446
10  237.86 2017-03-13  237.763672
11  237.24 2017-03-14  235.117249
12  239.44 2017-03-15  234.345337
13  239.20 2017-03-16  236.225082
14  237.97 2017-03-17  234.697128
15  237.36 2017-03-20  238.262817
16  237.61 2017-03-21  235.133362
17  234.61 2017-03-22  238.553192
18  235.34 2017-03-23  238.866257
19  235.04 2017-03-24  233.853409
20  233.92 2017-03-27  236.915115
21  235.81 2017-03-28  236.299088
22  235.81 2017-03-29  234.427261
23  236.52 2017-03-30  235.588684
24  236.51 2017-03-31  237.638855
25  236.03 2017-04-03  238.629776
26  235.58 2017-04-04  234.676880
27  237.39 2017-04-05  238.158661
28  236.04 2017-04-06  238.226105
29  236.00 2017-04-07  235.759537
30  236.26 2017-04-10  238.553192
31  235.18 2017-04-11  237.456482
32  234.96 2017-04-12  238.249573
33  234.49 2017-04-13  235.751602
34  234.49 2017-04-14  237.794708
35  234.57 2017-04-17  235.746872
36  234.49 2017-04-18  237.754822
37  234.95 2017-04-19  236.131210
38  235.31 2017-04-21  235.008286
39  237.41 2017-04-24  238.001404

--------------------------------------------------
Column=FVolume_20 accuracy=0.908394205285 mse=1.16457020726e+14 num_predictions=40

        CVolume       Date      FVolume
0    56515440.0 2017-02-27   65846012.0
1    96961938.0 2017-02-28   83015680.0
2   149158170.0 2017-03-01   64974404.0
3    70245978.0 2017-03-02   68879856.0
4    81974300.0 2017-03-03   66677188.0
5    55391533.0 2017-03-06  101378352.0
6      393822.0 2017-03-07   99078096.0
7    78168795.0 2017-03-08   97593016.0
8    90683918.0 2017-03-09   64936852.0
9    81991652.0 2017-03-10   95077096.0
10   57256824.0 2017-03-13   61924532.0
11   59880778.0 2017-03-14   83244072.0
12   96081750.0 2017-03-15   76859560.0
13   78343951.0 2017-03-16   63056964.0
14   89002111.0 2017-03-17   62771728.0
15   52536979.0 2017-03-20   62433760.0
16  131809275.0 2017-03-21   79715272.0
17   97569204.0 2017-03-22   57779620.0
18  100410277.0 2017-03-23   67151176.0
19  112504853.0 2017-03-24   89839216.0
20   87454452.0 2017-03-27   81388680.0
21   93483915.0 2017-03-28   84004696.0
22   61950354.0 2017-03-29   89794744.0
23   56737890.0 2017-03-30   87538128.0
24   73733094.0 2017-03-31   57832536.0
25   85546486.0 2017-04-03   77662536.0
26   56466195.0 2017-04-04   80301888.0
27  108800604.0 2017-04-05   64505432.0
28   69135757.0 2017-04-06  155792864.0
29   74412311.0 2017-04-07   59956728.0
30   67615302.0 2017-04-10   63884772.0
31   88045276.0 2017-04-11   61656740.0
32   81864436.0 2017-04-12   46140620.0
33   92880394.0 2017-04-13   72249024.0
34   92880394.0 2017-04-14   83007760.0
35   68405367.0 2017-04-17   83554112.0
36   83225821.0 2017-04-18  107252736.0
37   68699868.0 2017-04-19  107173648.0
38  110389847.0 2017-04-21   74443776.0
39  119209877.0 2017-04-24   55639312.0

--------------------------------------------------
Column=FVolume_25 accuracy=0.875114335535 mse=5.61678331942e+13 num_predictions=35

        CVolume       Date      FVolume
0    56515440.0 2017-02-27  109613136.0
1    96961938.0 2017-02-28   84890608.0
2   149158170.0 2017-03-01   56550484.0
3    70245978.0 2017-03-02   64852992.0
4    81974300.0 2017-03-03   78665056.0
5    55391533.0 2017-03-06   62343776.0
6      393822.0 2017-03-07   65068232.0
7    78168795.0 2017-03-08   73619968.0
8    90683918.0 2017-03-09   86562520.0
9    81991652.0 2017-03-10   83784728.0
10   57256824.0 2017-03-13   70358608.0
11   59880778.0 2017-03-14   94782192.0
12   96081750.0 2017-03-15   90527832.0
13   78343951.0 2017-03-16   82991488.0
14   89002111.0 2017-03-17   58278716.0
15   52536979.0 2017-03-20  112854176.0
16  131809275.0 2017-03-21   55025048.0
17   97569204.0 2017-03-22   66197604.0
18  100410277.0 2017-03-23   75862600.0
19  112504853.0 2017-03-24   65388524.0
20   87454452.0 2017-03-27   67723848.0
21   93483915.0 2017-03-28  113617928.0
22   61950354.0 2017-03-29   94782192.0
23   56737890.0 2017-03-30   62635744.0
24   73733094.0 2017-03-31  164215552.0
25   85546486.0 2017-04-03   60994780.0
26   56466195.0 2017-04-04   57976436.0
27  108800604.0 2017-04-05   60855060.0
28   74412311.0 2017-04-07   61561904.0
29   67615302.0 2017-04-10   60636220.0
30   88045276.0 2017-04-11   66711616.0
31   81864436.0 2017-04-12   99195736.0
32   92880394.0 2017-04-13   68778016.0
33   92880394.0 2017-04-14   74303160.0
34   68405367.0 2017-04-17  109592048.0

--------------------------------------------------
Column=FLow_30 accuracy=0.998277970848 mse=2.96286991645 num_predictions=30

      CLow       Date        FLow
0   236.35 2017-02-27  235.590820
1   236.02 2017-02-28  236.062424
2   238.37 2017-03-01  235.890472
3   238.21 2017-03-02  236.847061
4   237.73 2017-03-03  234.398666
5   237.01 2017-03-06  234.975235
6   236.40 2017-03-08  234.611038
7   235.74 2017-03-09  235.617630
8   236.59 2017-03-10  236.238098
9   237.24 2017-03-13  233.991272
10  236.19 2017-03-14  233.256729
11  237.29 2017-03-15  236.445068
12  238.10 2017-03-16  233.417892
13  237.03 2017-03-17  235.901810
14  236.32 2017-03-20  236.761841
15  233.58 2017-03-21  237.303406
16  233.05 2017-03-22  233.292572
17  233.60 2017-03-23  231.795105
18  232.96 2017-03-24  236.326782
19  231.61 2017-03-27  233.716980
20  233.14 2017-03-28  237.041916
21  234.72 2017-03-29  236.383987
22  235.27 2017-03-30  237.199799
23  235.68 2017-03-31  235.502136
24  233.91 2017-04-03  236.134262
25  234.56 2017-04-04  233.488770
26  234.54 2017-04-05  235.824600
27  234.42 2017-04-06  236.688004
28  234.64 2017-04-07  234.916611
29  234.73 2017-04-10  236.598770

--------------------------------------------------
Column=FClose_20 accuracy=0.998412598936 mse=1.17535948971 num_predictions=40

    CClose       Date      FClose
0   237.11 2017-02-27  237.442490
1   236.47 2017-02-28  232.841202
2   239.78 2017-03-01  235.384415
3   238.27 2017-03-02  237.826065
4   238.42 2017-03-03  236.225693
5   237.71 2017-03-06  237.156509
6   237.71 2017-03-07  236.379303
7   236.56 2017-03-08  236.556427
8   236.86 2017-03-09  238.205902
9   237.69 2017-03-10  234.902100
10  237.81 2017-03-13  237.537613
11  236.90 2017-03-14  234.018509
12  238.95 2017-03-15  234.722977
13  238.48 2017-03-16  235.003632
14  237.03 2017-03-17  234.271652
15  236.77 2017-03-20  237.974792
16  233.73 2017-03-21  234.114609
17  234.28 2017-03-22  238.024323
18  234.03 2017-03-23  237.974792
19  233.86 2017-03-24  233.514282
20  233.62 2017-03-27  237.471954
21  235.32 2017-03-28  235.134399
22  235.54 2017-03-29  234.860138
23  236.29 2017-03-30  234.930237
24  235.74 2017-03-31  237.970367
25  235.33 2017-04-03  237.838745
26  235.48 2017-04-04  234.534256
27  234.78 2017-04-05  237.864243
28  235.44 2017-04-06  238.316711
29  235.20 2017-04-07  235.626526
30  235.34 2017-04-10  238.132874
31  235.06 2017-04-11  237.999649
32  234.03 2017-04-12  237.994370
33  232.51 2017-04-13  235.509064
34  234.03 2017-04-14  237.547440
35  234.57 2017-04-17  234.448135
36  233.87 2017-04-18  237.110519
37  233.44 2017-04-19  236.106888
38  234.59 2017-04-21  234.382721
39  237.17 2017-04-24  237.820465

--------------------------------------------------
Column=FVolume_5 accuracy=0.860508546731 mse=1.54519726446e+14 num_predictions=55

        CVolume       Date      FVolume
0    56515440.0 2017-02-27   47996392.0
1    96961938.0 2017-02-28   46576272.0
2   149158170.0 2017-03-01   84940464.0
3    70245978.0 2017-03-02   90956808.0
4    81974300.0 2017-03-03   74963216.0
5    55391533.0 2017-03-06   55247800.0
6      393822.0 2017-03-07   69506984.0
7    78168795.0 2017-03-08   78182704.0
8    90683918.0 2017-03-09   51209964.0
9    81991652.0 2017-03-10   72567152.0
10   57256824.0 2017-03-13   97008752.0
11   59880778.0 2017-03-14   72061368.0
12   96081750.0 2017-03-15   97580816.0
13   78343951.0 2017-03-16   62746008.0
14   89002111.0 2017-03-17   69350312.0
15   52536979.0 2017-03-20   62146480.0
16  131809275.0 2017-03-21   82602136.0
17   97569204.0 2017-03-22   60284568.0
18  100410277.0 2017-03-23   61597948.0
19  112504853.0 2017-03-24   76730536.0
20   87454452.0 2017-03-27   49964956.0
21   93483915.0 2017-03-28   47066652.0
22   61950354.0 2017-03-29  177215760.0
23   56737890.0 2017-03-30   89014920.0
24   73733094.0 2017-03-31   69948528.0
25   85546486.0 2017-04-03   69864920.0
26   56466195.0 2017-04-04   52336716.0
27  108800604.0 2017-04-05   74350704.0
28   69135757.0 2017-04-06  113147264.0
29   74412311.0 2017-04-07   44125816.0
30   67615302.0 2017-04-10   76967448.0
31   88045276.0 2017-04-11  109703480.0
32   81864436.0 2017-04-12   71968256.0
33   92880394.0 2017-04-13   55783700.0
34   92880394.0 2017-04-14   70136248.0
35   68405367.0 2017-04-17   76711440.0
36   83225821.0 2017-04-18   59971112.0
37   68699868.0 2017-04-19    9440932.0
38  110389847.0 2017-04-21   66461792.0
39  119209877.0 2017-04-24   67064808.0
40   76698265.0 2017-04-25   59714204.0
41   84702455.0 2017-04-26   67836168.0
42   57410326.0 2017-04-27  118460488.0
43   63532845.0 2017-04-28   53469000.0
44   66882521.0 2017-05-01   46206144.0
45   57375732.0 2017-05-02   42782120.0
46   73137731.0 2017-05-03  100944264.0
47   61462732.0 2017-05-04   76188488.0
48   62001269.0 2017-05-05   99223600.0
49   48385730.0 2017-05-08   77355240.0
50   51363200.0 2017-05-09   80711072.0
51   51363200.0 2017-05-10   63145664.0
52   23215447.0 2017-05-11   90556112.0
53   51877428.0 2017-05-12   77122408.0
54   60025663.0 2017-05-15   45219076.0

--------------------------------------------------
Column=FClose_25 accuracy=0.99845288618 mse=2.04919274668 num_predictions=35

    CClose       Date      FClose
0   237.11 2017-02-27  236.552734
1   236.47 2017-02-28  235.050507
2   239.78 2017-03-01  237.163391
3   238.27 2017-03-02  237.538895
4   238.42 2017-03-03  236.731735
5   237.71 2017-03-06  237.555984
6   237.71 2017-03-07  237.320831
7   236.56 2017-03-08  234.358047
8   236.86 2017-03-09  233.667374
9   237.69 2017-03-10  237.382278
10  237.81 2017-03-13  234.445786
11  236.90 2017-03-14  235.993500
12  238.95 2017-03-15  234.081650
13  238.48 2017-03-16  235.814377
14  237.03 2017-03-17  237.346420
15  236.77 2017-03-20  235.385986
16  233.73 2017-03-21  237.190720
17  234.28 2017-03-22  234.789978
18  234.03 2017-03-23  233.903641
19  233.86 2017-03-24  235.736145
20  233.62 2017-03-27  237.013290
21  235.32 2017-03-28  235.373993
22  235.54 2017-03-29  236.336746
23  236.29 2017-03-30  235.648193
24  235.74 2017-03-31  236.748077
25  235.33 2017-04-03  236.493500
26  235.48 2017-04-04  237.717545
27  234.78 2017-04-05  233.553162
28  235.20 2017-04-07  236.987137
29  235.34 2017-04-10  236.417114
30  235.06 2017-04-11  237.215149
31  234.03 2017-04-12  235.193405
32  232.51 2017-04-13  238.073685
33  234.03 2017-04-14  235.692825
34  234.57 2017-04-17  234.849548

--------------------------------------------------
Column=FLow_10 accuracy=0.998567461387 mse=2.11792497821 num_predictions=50

      CLow       Date        FLow
0   236.35 2017-02-27  237.413834
1   236.02 2017-02-28  237.225479
2   238.37 2017-03-01  237.645981
3   238.21 2017-03-02  234.386292
4   237.73 2017-03-03  233.403427
5   237.01 2017-03-06  237.240616
6   237.71 2017-03-07  235.407959
7   236.40 2017-03-08  236.065186
8   235.74 2017-03-09  236.531815
9   236.59 2017-03-10  235.872589
10  237.24 2017-03-13  235.920380
11  236.19 2017-03-14  232.937210
12  237.29 2017-03-15  233.090393
13  238.10 2017-03-16  233.984467
14  237.03 2017-03-17  234.309448
15  236.32 2017-03-20  235.186676
16  233.58 2017-03-21  238.271561
17  233.05 2017-03-22  236.720673
18  233.60 2017-03-23  235.235657
19  232.96 2017-03-24  235.274506
20  231.61 2017-03-27  234.975571
21  233.14 2017-03-28  232.597351
22  234.72 2017-03-29  235.073471
23  235.27 2017-03-30  233.283554
24  235.68 2017-03-31  236.843430
25  233.91 2017-04-03  233.786209
26  234.56 2017-04-04  234.607452
27  234.54 2017-04-05  236.101517
28  234.42 2017-04-06  236.949188
29  234.64 2017-04-07  234.220001
30  234.73 2017-04-10  237.824661
31  233.34 2017-04-11  235.214157
32  233.77 2017-04-12  234.126328
33  232.51 2017-04-13  236.780426
34  232.51 2017-04-14  236.256302
35  232.88 2017-04-17  234.450073
36  233.08 2017-04-18  233.575821
37  233.18 2017-04-19  236.969101
38  234.13 2017-04-21  236.524261
39  234.56 2017-04-24  233.803986
40  237.81 2017-04-25  237.522141
41  238.35 2017-04-26  233.729202
42  237.98 2017-04-27  233.496613
43  237.93 2017-04-28  235.620361
44  238.20 2017-05-01  233.358170
45  238.30 2017-05-02  235.508835
46  237.70 2017-05-03  233.407562
47  237.78 2017-05-04  236.723862
48  238.68 2017-05-05  235.565948
49  239.17 2017-05-08  235.229599

--------------------------------------------------
Column=FOpen_5 accuracy=0.998177191116 mse=2.27659209481 num_predictions=55

     COpen       Date       FOpen
0   236.64 2017-02-27  238.192352
1   236.67 2017-02-28  236.068298
2   238.39 2017-03-01  233.407837
3   239.56 2017-03-02  233.426804
4   238.17 2017-03-03  234.870193
5   237.50 2017-03-06  237.075485
6   237.71 2017-03-07  237.380112
7   237.34 2017-03-08  234.219711
8   236.70 2017-03-09  237.943634
9   237.97 2017-03-10  233.489441
10  237.62 2017-03-13  235.329956
11  237.18 2017-03-14  235.384659
12  237.56 2017-03-15  234.191605
13  239.11 2017-03-16  234.631668
14  237.75 2017-03-17  238.205200
15  237.03 2017-03-20  234.193771
16  237.47 2017-03-21  236.639816
17  233.77 2017-03-22  236.817902
18  234.00 2017-03-23  236.664276
19  234.38 2017-03-24  234.296265
20  231.93 2017-03-27  237.186676
21  233.27 2017-03-28  237.978928
22  234.99 2017-03-29  235.493591
23  235.47 2017-03-30  234.852448
24  235.90 2017-03-31  235.815125
25  235.80 2017-04-03  233.627853
26  234.95 2017-04-04  234.599976
27  236.26 2017-04-05  234.378769
28  234.94 2017-04-06  235.113602
29  235.15 2017-04-07  236.804703
30  235.36 2017-04-10  234.353027
31  234.90 2017-04-11  235.246429
32  234.74 2017-04-12  233.361099
33  233.64 2017-04-13  237.659561
34  233.64 2017-04-14  237.646362
35  233.11 2017-04-17  234.575958
36  233.72 2017-04-18  237.595978
37  234.52 2017-04-19  236.852570
38  235.25 2017-04-21  234.651871
39  237.18 2017-04-24  234.744324
40  237.91 2017-04-25  237.875153
41  238.51 2017-04-26  237.987625
42  238.77 2017-04-27  236.527328
43  238.90 2017-04-28  233.824768
44  238.68 2017-05-01  237.369019
45  238.84 2017-05-02  235.249466
46  238.29 2017-05-03  234.652802
47  238.83 2017-05-04  234.766861
48  239.19 2017-05-05  235.063766
49  239.75 2017-05-08  234.963684
50  239.96 2017-05-09  236.949936
51  239.96 2017-05-10  236.464096
52  239.35 2017-05-11  234.053070
53  239.09 2017-05-12  234.455276
54  239.47 2017-05-15  236.910614

--------------------------------------------------
Column=FLow_15 accuracy=0.99868083036 mse=1.15577788337 num_predictions=45

      CLow       Date        FLow
0   236.35 2017-02-27  237.317108
1   236.02 2017-02-28  236.028763
2   238.37 2017-03-01  236.467682
3   238.21 2017-03-02  235.270294
4   237.73 2017-03-03  237.266052
5   237.01 2017-03-06  236.366791
6   237.71 2017-03-07  233.293579
7   236.40 2017-03-08  234.402542
8   235.74 2017-03-09  235.478241
9   236.59 2017-03-10  233.113327
10  237.24 2017-03-13  233.244949
11  236.19 2017-03-14  235.251572
12  237.29 2017-03-15  237.382629
13  238.10 2017-03-16  232.962952
14  237.03 2017-03-17  234.481262
15  236.32 2017-03-20  234.740311
16  233.58 2017-03-21  235.420532
17  233.05 2017-03-22  234.751709
18  233.60 2017-03-23  235.780365
19  232.96 2017-03-24  234.348801
20  231.61 2017-03-27  237.593353
21  233.14 2017-03-28  237.389633
22  234.72 2017-03-29  237.485062
23  235.27 2017-03-30  236.241272
24  235.68 2017-03-31  237.196823
25  233.91 2017-04-03  236.735779
26  234.56 2017-04-04  232.439789
27  234.54 2017-04-05  234.444763
28  234.42 2017-04-06  237.228287
29  234.64 2017-04-07  235.283813
30  234.73 2017-04-10  237.159470
31  233.34 2017-04-11  233.135452
32  233.77 2017-04-12  232.638535
33  232.51 2017-04-13  237.368668
34  232.51 2017-04-14  233.268280
35  232.88 2017-04-17  237.489105
36  233.08 2017-04-18  235.493378
37  233.18 2017-04-19  232.950668
38  234.13 2017-04-21  232.923477
39  234.56 2017-04-24  236.022293
40  237.81 2017-04-25  233.592133
41  238.35 2017-04-26  234.243805
42  237.98 2017-04-27  236.920731
43  237.93 2017-04-28  235.522476
44  238.20 2017-05-01  236.753662

--------------------------------------------------
Column=FHigh_10 accuracy=0.998665333528 mse=3.19837957813 num_predictions=50

     CHigh       Date       FHigh
0   237.31 2017-02-27  238.116806
1   236.95 2017-02-28  238.073212
2   240.32 2017-03-01  238.702911
3   239.57 2017-03-02  235.622223
4   238.61 2017-03-03  235.265427
5   238.12 2017-03-06  239.444489
6   237.71 2017-03-07  238.095032
7   237.64 2017-03-08  239.200668
8   237.24 2017-03-09  234.270569
9   238.02 2017-03-10  239.583817
10  237.86 2017-03-13  236.506302
11  237.24 2017-03-14  234.556320
12  239.44 2017-03-15  233.477707
13  239.20 2017-03-16  235.687210
14  237.97 2017-03-17  237.614822
15  237.36 2017-03-20  237.824234
16  237.61 2017-03-21  238.901703
17  234.61 2017-03-22  237.868256
18  235.34 2017-03-23  236.751755
19  235.04 2017-03-24  238.544586
20  233.92 2017-03-27  234.341949
21  235.81 2017-03-28  234.234421
22  235.81 2017-03-29  237.246872
23  236.52 2017-03-30  235.180527
24  236.51 2017-03-31  237.984360
25  236.03 2017-04-03  235.013977
26  235.58 2017-04-04  233.606445
27  237.39 2017-04-05  237.210892
28  236.04 2017-04-06  238.062119
29  236.00 2017-04-07  235.649841
30  236.26 2017-04-10  239.241165
31  235.18 2017-04-11  237.498764
32  234.96 2017-04-12  236.820740
33  234.49 2017-04-13  239.183060
34  234.49 2017-04-14  236.651443
35  234.57 2017-04-17  236.410843
36  234.49 2017-04-18  235.937378
37  234.95 2017-04-19  239.047195
38  235.31 2017-04-21  238.909409
39  237.41 2017-04-24  232.706223
40  238.95 2017-04-25  238.227890
41  239.53 2017-04-26  234.073669
42  238.95 2017-04-27  235.486847
43  238.93 2017-04-28  237.671921
44  239.17 2017-05-01  232.673920
45  238.98 2017-05-02  236.700531
46  238.88 2017-05-03  233.697357
47  238.92 2017-05-04  238.041336
48  239.72 2017-05-05  236.363312
49  239.92 2017-05-08  236.201157

--------------------------------------------------
Column=FHigh_15 accuracy=0.998541531411 mse=1.55878995885 num_predictions=45

     CHigh       Date       FHigh
0   237.31 2017-02-27  237.879074
1   236.95 2017-02-28  237.778702
2   240.32 2017-03-01  238.200607
3   239.57 2017-03-02  236.513977
4   238.61 2017-03-03  238.252991
5   238.12 2017-03-06  237.138977
6   237.71 2017-03-07  235.989029
7   237.64 2017-03-08  237.235672
8   237.24 2017-03-09  236.047653
9   238.02 2017-03-10  235.282043
10  237.86 2017-03-13  235.183029
11  237.24 2017-03-14  236.718567
12  239.44 2017-03-15  237.555557
13  239.20 2017-03-16  234.484604
14  237.97 2017-03-17  236.761780
15  237.36 2017-03-20  235.900726
16  237.61 2017-03-21  236.543427
17  234.61 2017-03-22  236.587799
18  235.34 2017-03-23  236.514786
19  235.04 2017-03-24  236.510010
20  233.92 2017-03-27  238.011017
21  235.81 2017-03-28  237.714203
22  235.81 2017-03-29  237.909973
23  236.52 2017-03-30  236.461090
24  236.51 2017-03-31  237.961746
25  236.03 2017-04-03  237.754578
26  235.58 2017-04-04  234.507462
27  237.39 2017-04-05  235.964752
28  236.04 2017-04-06  238.192520
29  236.00 2017-04-07  237.197021
30  236.26 2017-04-10  237.994797
31  235.18 2017-04-11  234.291840
32  234.96 2017-04-12  234.716782
33  234.49 2017-04-13  238.371140
34  234.49 2017-04-14  234.810455
35  234.57 2017-04-17  238.171463
36  234.49 2017-04-18  236.883545
37  234.95 2017-04-19  235.012711
38  235.31 2017-04-21  234.795029
39  237.41 2017-04-24  236.749542
40  238.95 2017-04-25  234.834839
41  239.53 2017-04-26  236.515854
42  238.95 2017-04-27  237.048889
43  238.93 2017-04-28  236.079636
44  239.17 2017-05-01  237.461151

--------------------------------------------------
Column=FOpen_25 accuracy=0.99848460541 mse=1.73816066913 num_predictions=35

     COpen       Date       FOpen
0   236.64 2017-02-27  237.816574
1   236.67 2017-02-28  235.636246
2   238.39 2017-03-01  238.271469
3   239.56 2017-03-02  236.959274
4   238.17 2017-03-03  237.465118
5   237.50 2017-03-06  237.865158
6   237.71 2017-03-07  236.993179
7   237.34 2017-03-08  234.584763
8   236.70 2017-03-09  233.244110
9   237.97 2017-03-10  237.703644
10  237.62 2017-03-13  234.808472
11  237.18 2017-03-14  235.239822
12  237.56 2017-03-15  234.950027
13  239.11 2017-03-16  235.803452
14  237.75 2017-03-17  238.045044
15  237.03 2017-03-20  236.011124
16  237.47 2017-03-21  238.083694
17  233.77 2017-03-22  235.486710
18  234.00 2017-03-23  234.097260
19  234.38 2017-03-24  235.818817
20  231.93 2017-03-27  237.592194
21  233.27 2017-03-28  234.536087
22  234.99 2017-03-29  236.317245
23  235.47 2017-03-30  235.314636
24  235.90 2017-03-31  237.147217
25  235.80 2017-04-03  236.712540
26  234.95 2017-04-04  237.701721
27  236.26 2017-04-05  234.547760
28  235.15 2017-04-07  237.012497
29  235.36 2017-04-10  237.901123
30  234.90 2017-04-11  237.447983
31  234.74 2017-04-12  235.423920
32  233.64 2017-04-13  237.207001
33  233.64 2017-04-14  234.435822
34  233.11 2017-04-17  235.358307

--------------------------------------------------
Column=FHigh_30 accuracy=0.998540184532 mse=1.89523682882 num_predictions=30

     CHigh       Date       FHigh
0   237.31 2017-02-27  238.654388
1   236.95 2017-02-28  237.913757
2   240.32 2017-03-01  237.615326
3   239.57 2017-03-02  237.942841
4   238.61 2017-03-03  235.067856
5   238.12 2017-03-06  236.428833
6   237.64 2017-03-08  237.182312
7   237.24 2017-03-09  237.329041
8   238.02 2017-03-10  237.844208
9   237.86 2017-03-13  235.093140
10  237.24 2017-03-14  234.985718
11  239.44 2017-03-15  238.100098
12  239.20 2017-03-16  234.762924
13  237.97 2017-03-17  237.206512
14  237.36 2017-03-20  237.845367
15  237.61 2017-03-21  237.746216
16  234.61 2017-03-22  235.123657
17  235.34 2017-03-23  233.172958
18  235.04 2017-03-24  238.084290
19  233.92 2017-03-27  234.328537
20  235.81 2017-03-28  238.564850
21  235.81 2017-03-29  238.536072
22  236.52 2017-03-30  237.857056
23  236.51 2017-03-31  236.691391
24  236.03 2017-04-03  238.618271
25  235.58 2017-04-04  235.602158
26  237.39 2017-04-05  236.506805
27  236.04 2017-04-06  237.739807
28  236.00 2017-04-07  237.714905
29  236.26 2017-04-10  238.364258

--------------------------------------------------
Column=FOpen_20 accuracy=0.99825314721 mse=1.28484845039 num_predictions=40

     COpen       Date       FOpen
0   236.64 2017-02-27  237.917526
1   236.67 2017-02-28  232.084137
2   238.39 2017-03-01  234.533905
3   239.56 2017-03-02  238.029938
4   238.17 2017-03-03  235.261230
5   237.50 2017-03-06  236.595505
6   237.71 2017-03-07  235.027740
7   237.34 2017-03-08  235.152695
8   236.70 2017-03-09  237.827057
9   237.97 2017-03-10  235.309494
10  237.62 2017-03-13  237.443634
11  237.18 2017-03-14  232.899292
12  237.56 2017-03-15  233.487885
13  239.11 2017-03-16  234.831863
14  237.75 2017-03-17  233.841690
15  237.03 2017-03-20  238.318741
16  237.47 2017-03-21  232.302078
17  233.77 2017-03-22  237.313400
18  234.00 2017-03-23  238.370819
19  234.38 2017-03-24  231.074432
20  231.93 2017-03-27  238.103638
21  233.27 2017-03-28  235.634750
22  234.99 2017-03-29  235.533920
23  235.47 2017-03-30  234.074921
24  235.90 2017-03-31  238.692703
25  235.80 2017-04-03  237.288986
26  234.95 2017-04-04  235.055527
27  236.26 2017-04-05  237.628601
28  234.94 2017-04-06  236.558319
29  235.15 2017-04-07  234.751251
30  235.36 2017-04-10  237.804810
31  234.90 2017-04-11  238.187592
32  234.74 2017-04-12  237.725464
33  233.64 2017-04-13  235.753250
34  233.64 2017-04-14  238.004852
35  233.11 2017-04-17  235.053726
36  233.72 2017-04-18  236.913940
37  234.52 2017-04-19  235.347778
38  235.25 2017-04-21  234.452515
39  237.18 2017-04-24  238.080124

--------------------------------------------------
Column=FVolume_10 accuracy=0.907178016782 mse=1.1376357129e+14 num_predictions=50

        CVolume       Date      FVolume
0    56515440.0 2017-02-27   49050020.0
1    96961938.0 2017-02-28   67179288.0
2   149158170.0 2017-03-01   57029576.0
3    70245978.0 2017-03-02   74554640.0
4    81974300.0 2017-03-03   59417156.0
5    55391533.0 2017-03-06   70559072.0
6      393822.0 2017-03-07   95975664.0
7    78168795.0 2017-03-08   75058032.0
8    90683918.0 2017-03-09   80309808.0
9    81991652.0 2017-03-10  117453024.0
10   57256824.0 2017-03-13   70703744.0
11   59880778.0 2017-03-14   98328504.0
12   96081750.0 2017-03-15  109490584.0
13   78343951.0 2017-03-16  165140944.0
14   89002111.0 2017-03-17  166284832.0
15   52536979.0 2017-03-20   84392992.0
16  131809275.0 2017-03-21   68577128.0
17   97569204.0 2017-03-22   65943088.0
18  100410277.0 2017-03-23   78339784.0
19  112504853.0 2017-03-24  109490584.0
20   87454452.0 2017-03-27   93902768.0
21   93483915.0 2017-03-28  106212224.0
22   61950354.0 2017-03-29   67807328.0
23   56737890.0 2017-03-30   95485984.0
24   73733094.0 2017-03-31   51628672.0
25   85546486.0 2017-04-03   72781400.0
26   56466195.0 2017-04-04   96616176.0
27  108800604.0 2017-04-05   65563532.0
28   69135757.0 2017-04-06   56224084.0
29   74412311.0 2017-04-07   84796976.0
30   67615302.0 2017-04-10   69178496.0
31   88045276.0 2017-04-11   55412748.0
32   81864436.0 2017-04-12  120624648.0
33   92880394.0 2017-04-13   60878416.0
34   92880394.0 2017-04-14   67484416.0
35   68405367.0 2017-04-17   86180384.0
36   83225821.0 2017-04-18  103908352.0
37   68699868.0 2017-04-19   68893144.0
38  110389847.0 2017-04-21   55616128.0
39  119209877.0 2017-04-24  111632960.0
40   76698265.0 2017-04-25   64758252.0
41   84702455.0 2017-04-26   93897600.0
42   57410326.0 2017-04-27   77759200.0
43   63532845.0 2017-04-28   69928560.0
44   66882521.0 2017-05-01  129059168.0
45   57375732.0 2017-05-02   72307144.0
46   73137731.0 2017-05-03   86471680.0
47   61462732.0 2017-05-04   65864824.0
48   62001269.0 2017-05-05   77673384.0
49   48385730.0 2017-05-08   95289768.0

--------------------------------------------------
Column=FVolume_30 accuracy=0.930475108578 mse=1.29142162391e+14 num_predictions=30

        CVolume       Date      FVolume
0    56515440.0 2017-02-27  154272176.0
1    96961938.0 2017-02-28   66343696.0
2   149158170.0 2017-03-01   45580672.0
3    70245978.0 2017-03-02   76765984.0
4    81974300.0 2017-03-03   74599040.0
5    55391533.0 2017-03-06   87300176.0
6    78168795.0 2017-03-08   95490720.0
7    90683918.0 2017-03-09   54597272.0
8    81991652.0 2017-03-10   70504896.0
9    57256824.0 2017-03-13   61960604.0
10   59880778.0 2017-03-14   58309852.0
11   96081750.0 2017-03-15   62352844.0
12   78343951.0 2017-03-16   59600176.0
13   89002111.0 2017-03-17   57883096.0
14   52536979.0 2017-03-20   74338800.0
15  131809275.0 2017-03-21   52386428.0
16   97569204.0 2017-03-22   73343280.0
17  100410277.0 2017-03-23   91719456.0
18  112504853.0 2017-03-24   60750428.0
19   87454452.0 2017-03-27   84663232.0
20   93483915.0 2017-03-28   63925408.0
21   61950354.0 2017-03-29   45640840.0
22   56737890.0 2017-03-30   82197232.0
23   73733094.0 2017-03-31  104147008.0
24   85546486.0 2017-04-03   57139560.0
25   56466195.0 2017-04-04   63300152.0
26  108800604.0 2017-04-05  111594736.0
27   69135757.0 2017-04-06   60577204.0
28   74412311.0 2017-04-07   87336096.0
29   67615302.0 2017-04-10   65963908.0

--------------------------------------------------
Column=FVolume_15 accuracy=0.881865035722 mse=1.50714346281e+14 num_predictions=45

        CVolume       Date      FVolume
0    56515440.0 2017-02-27   58376660.0
1    96961938.0 2017-02-28  114653016.0
2   149158170.0 2017-03-01   68996536.0
3    70245978.0 2017-03-02   98230624.0
4    81974300.0 2017-03-03   53393920.0
5    55391533.0 2017-03-06   49446616.0
6      393822.0 2017-03-07   81472504.0
7    78168795.0 2017-03-08  100004472.0
8    90683918.0 2017-03-09   57248996.0
9    81991652.0 2017-03-10   71268888.0
10   57256824.0 2017-03-13  130026288.0
11   59880778.0 2017-03-14   99685816.0
12   96081750.0 2017-03-15   70750376.0
13   78343951.0 2017-03-16   94259024.0
14   89002111.0 2017-03-17   88722328.0
15   52536979.0 2017-03-20   67925600.0
16  131809275.0 2017-03-21   95118112.0
17   97569204.0 2017-03-22   56650368.0
18  100410277.0 2017-03-23   77995000.0
19  112504853.0 2017-03-24   90608664.0
20   87454452.0 2017-03-27   51847928.0
21   93483915.0 2017-03-28   64941312.0
22   61950354.0 2017-03-29   81022208.0
23   56737890.0 2017-03-30   44544140.0
24   73733094.0 2017-03-31   61810496.0
25   85546486.0 2017-04-03   64523312.0
26   56466195.0 2017-04-04   61715992.0
27  108800604.0 2017-04-05   51757008.0
28   69135757.0 2017-04-06   61607228.0
29   74412311.0 2017-04-07  128550936.0
30   67615302.0 2017-04-10   59937572.0
31   88045276.0 2017-04-11   73310760.0
32   81864436.0 2017-04-12   99653536.0
33   92880394.0 2017-04-13   61524240.0
34   92880394.0 2017-04-14   84920632.0
35   68405367.0 2017-04-17   60422616.0
36   83225821.0 2017-04-18   66732408.0
37   68699868.0 2017-04-19   53581332.0
38  110389847.0 2017-04-21   90439880.0
39  119209877.0 2017-04-24  103021816.0
40   76698265.0 2017-04-25   72200232.0
41   84702455.0 2017-04-26   60038452.0
42   57410326.0 2017-04-27  152863840.0
43   63532845.0 2017-04-28   68542696.0
44   66882521.0 2017-05-01   51390880.0

--------------------------------------------------
Column=FLow_20 accuracy=0.998418492538 mse=1.78245389644 num_predictions=40

      CLow       Date        FLow
0   236.35 2017-02-27  236.516693
1   236.02 2017-02-28  232.719360
2   238.37 2017-03-01  234.400543
3   238.21 2017-03-02  236.472946
4   237.73 2017-03-03  235.309799
5   237.01 2017-03-06  235.155243
6   237.71 2017-03-07  234.749527
7   236.40 2017-03-08  234.886383
8   235.74 2017-03-09  237.387650
9   236.59 2017-03-10  234.101929
10  237.24 2017-03-13  236.617798
11  236.19 2017-03-14  234.345016
12  237.29 2017-03-15  233.537094
13  238.10 2017-03-16  234.894653
14  237.03 2017-03-17  233.620422
15  236.32 2017-03-20  236.831604
16  233.58 2017-03-21  233.621658
17  233.05 2017-03-22  237.020462
18  233.60 2017-03-23  237.310089
19  232.96 2017-03-24  230.665543
20  231.61 2017-03-27  236.240112
21  233.14 2017-03-28  235.566818
22  234.72 2017-03-29  234.099472
23  235.27 2017-03-30  233.678497
24  235.68 2017-03-31  236.371811
25  233.91 2017-04-03  235.914780
26  234.56 2017-04-04  234.261368
27  234.54 2017-04-05  236.242126
28  234.42 2017-04-06  236.769028
29  234.64 2017-04-07  235.570099
30  234.73 2017-04-10  237.313629
31  233.34 2017-04-11  236.876953
32  233.77 2017-04-12  237.146347
33  232.51 2017-04-13  235.157242
34  232.51 2017-04-14  236.425552
35  232.88 2017-04-17  233.392120
36  233.08 2017-04-18  235.693695
37  233.18 2017-04-19  235.397476
38  234.13 2017-04-21  232.840240
39  234.56 2017-04-24  236.576019

--------------------------------------------------
Column=FLow_25 accuracy=0.998601484905 mse=1.80604115137 num_predictions=35

      CLow       Date        FLow
0   236.35 2017-02-27  236.538483
1   236.02 2017-02-28  233.490814
2   238.37 2017-03-01  236.478592
3   238.21 2017-03-02  237.355896
4   237.73 2017-03-03  236.198212
5   237.01 2017-03-06  237.066391
6   237.71 2017-03-07  236.528244
7   236.40 2017-03-08  233.600281
8   235.74 2017-03-09  232.905045
9   236.59 2017-03-10  236.264847
10  237.24 2017-03-13  234.175720
11  236.19 2017-03-14  235.140533
12  237.29 2017-03-15  234.296143
13  238.10 2017-03-16  234.653091
14  237.03 2017-03-17  236.870285
15  236.32 2017-03-20  236.012268
16  233.58 2017-03-21  235.739243
17  233.05 2017-03-22  234.380859
18  233.60 2017-03-23  233.576416
19  232.96 2017-03-24  234.317596
20  231.61 2017-03-27  236.920029
21  233.14 2017-03-28  236.372406
22  234.72 2017-03-29  235.406082
23  235.27 2017-03-30  235.085190
24  235.68 2017-03-31  236.167923
25  233.91 2017-04-03  237.649734
26  234.56 2017-04-04  236.838287
27  234.54 2017-04-05  233.396332
28  234.64 2017-04-07  236.977158
29  234.73 2017-04-10  236.686829
30  233.34 2017-04-11  236.656601
31  233.77 2017-04-12  234.104111
32  232.51 2017-04-13  237.367371
33  232.51 2017-04-14  233.513687
34  232.88 2017-04-17  234.464111

--------------------------------------------------
Column=FClose_30 accuracy=0.998366330784 mse=1.4605830873 num_predictions=30

    CClose       Date      FClose
0   237.11 2017-02-27  236.038269
1   236.47 2017-02-28  238.432297
2   239.78 2017-03-01  238.986664
3   238.27 2017-03-02  237.920959
4   238.42 2017-03-03  234.579483
5   237.71 2017-03-06  236.220596
6   236.56 2017-03-08  235.853409
7   236.86 2017-03-09  238.039886
8   237.69 2017-03-10  237.464264
9   237.81 2017-03-13  233.276535
10  236.90 2017-03-14  233.017899
11  238.95 2017-03-15  237.794891
12  238.48 2017-03-16  233.586624
13  237.03 2017-03-17  236.831421
14  236.77 2017-03-20  237.214905
15  233.73 2017-03-21  238.634979
16  234.28 2017-03-22  234.244125
17  234.03 2017-03-23  233.014969
18  233.86 2017-03-24  238.156143
19  233.62 2017-03-27  231.728714
20  235.32 2017-03-28  237.859406
21  235.54 2017-03-29  238.588425
22  236.29 2017-03-30  237.473816
23  235.74 2017-03-31  237.031601
24  235.33 2017-04-03  237.774536
25  235.48 2017-04-04  233.693634
26  234.78 2017-04-05  235.902466
27  235.44 2017-04-06  236.567245
28  235.20 2017-04-07  236.367233
29  235.34 2017-04-10  238.269165

--------------------------------------------------
Column=FClose_15 accuracy=0.998329081518 mse=1.55153303883 num_predictions=45

    CClose       Date      FClose
0   237.11 2017-02-27  237.514938
1   236.47 2017-02-28  236.349167
2   239.78 2017-03-01  237.232834
3   238.27 2017-03-02  235.958359
4   238.42 2017-03-03  237.573029
5   237.71 2017-03-06  235.776993
6   237.71 2017-03-07  233.257751
7   236.56 2017-03-08  234.547958
8   236.86 2017-03-09  236.204132
9   237.69 2017-03-10  234.440323
10  237.81 2017-03-13  235.245529
11  236.90 2017-03-14  235.861816
12  238.95 2017-03-15  237.665039
13  238.48 2017-03-16  234.893433
14  237.03 2017-03-17  235.102051
15  236.77 2017-03-20  234.524231
16  233.73 2017-03-21  235.744446
17  234.28 2017-03-22  236.093353
18  234.03 2017-03-23  235.905411
19  233.86 2017-03-24  234.976913
20  233.62 2017-03-27  238.391312
21  235.32 2017-03-28  238.297791
22  235.54 2017-03-29  237.847977
23  236.29 2017-03-30  235.961761
24  235.74 2017-03-31  237.490707
25  235.33 2017-04-03  236.914932
26  235.48 2017-04-04  234.191833
27  234.78 2017-04-05  235.793625
28  235.44 2017-04-06  238.008530
29  235.20 2017-04-07  235.931290
30  235.34 2017-04-10  237.555237
31  235.06 2017-04-11  234.810471
32  234.03 2017-04-12  233.186142
33  232.51 2017-04-13  238.099289
34  234.03 2017-04-14  234.776199
35  234.57 2017-04-17  238.332001
36  233.87 2017-04-18  235.706833
37  233.44 2017-04-19  235.013458
38  234.59 2017-04-21  234.846542
39  237.17 2017-04-24  235.933777
40  238.55 2017-04-25  234.720352
41  238.40 2017-04-26  235.560608
42  238.60 2017-04-27  235.922440
43  238.08 2017-04-28  235.809753
44  238.68 2017-05-01  237.397751

--------------------------------------------------
Column=FClose_10 accuracy=0.998336184677 mse=3.67349565905 num_predictions=50

    CClose       Date      FClose
0   237.11 2017-02-27  236.719559
1   236.47 2017-02-28  235.765656
2   239.78 2017-03-01  236.341888
3   238.27 2017-03-02  234.455933
4   238.42 2017-03-03  234.006851
5   237.71 2017-03-06  239.427414
6   237.71 2017-03-07  237.065964
7   236.56 2017-03-08  238.872650
8   236.86 2017-03-09  232.399292
9   237.69 2017-03-10  238.442032
10  237.81 2017-03-13  235.934296
11  236.90 2017-03-14  234.442276
12  238.95 2017-03-15  232.743958
13  238.48 2017-03-16  232.663513
14  237.03 2017-03-17  236.680634
15  236.77 2017-03-20  236.893036
16  233.73 2017-03-21  238.207443
17  234.28 2017-03-22  238.872650
18  234.03 2017-03-23  235.746964
19  233.86 2017-03-24  235.897629
20  233.62 2017-03-27  233.996124
21  235.32 2017-03-28  233.275299
22  235.54 2017-03-29  236.156982
23  236.29 2017-03-30  235.352722
24  235.74 2017-03-31  236.800934
25  235.33 2017-04-03  234.667816
26  235.48 2017-04-04  234.142960
27  234.78 2017-04-05  236.400406
28  235.44 2017-04-06  236.916565
29  235.20 2017-04-07  236.253784
30  235.34 2017-04-10  238.985504
31  235.06 2017-04-11  237.273529
32  234.03 2017-04-12  235.987198
33  232.51 2017-04-13  238.770630
34  234.03 2017-04-14  236.319412
35  234.57 2017-04-17  235.258270
36  233.87 2017-04-18  236.158569
37  233.44 2017-04-19  238.818512
38  234.59 2017-04-21  240.200760
39  237.17 2017-04-24  232.249298
40  238.55 2017-04-25  236.471756
41  238.40 2017-04-26  232.417969
42  238.60 2017-04-27  235.982269
43  238.08 2017-04-28  235.568817
44  238.68 2017-05-01  233.334167
45  238.77 2017-05-02  235.452698
46  238.48 2017-05-03  233.297287
47  238.76 2017-05-04  236.348892
48  239.70 2017-05-05  235.108383
49  239.66 2017-05-08  235.850815

--------------------------------------------------
Column=FHigh_5 accuracy=0.998197941367 mse=1.80702890975 num_predictions=55

     CHigh       Date       FHigh
0   237.31 2017-02-27  237.312714
1   236.95 2017-02-28  236.647583
2   240.32 2017-03-01  235.408691
3   239.57 2017-03-02  235.412170
4   238.61 2017-03-03  236.592255
5   238.12 2017-03-06  236.942337
6   237.71 2017-03-07  237.805847
7   237.64 2017-03-08  235.711090
8   237.24 2017-03-09  238.066299
9   238.02 2017-03-10  234.807449
10  237.86 2017-03-13  236.510498
11  237.24 2017-03-14  236.937378
12  239.44 2017-03-15  235.610382
13  239.20 2017-03-16  235.125275
14  237.97 2017-03-17  237.789337
15  237.36 2017-03-20  235.500015
16  237.61 2017-03-21  236.543228
17  234.61 2017-03-22  238.143082
18  235.34 2017-03-23  237.400833
19  235.04 2017-03-24  234.776672
20  233.92 2017-03-27  238.981216
21  235.81 2017-03-28  237.997787
22  235.81 2017-03-29  237.007416
23  236.52 2017-03-30  234.874252
24  236.51 2017-03-31  236.905701
25  236.03 2017-04-03  236.064346
26  235.58 2017-04-04  235.724167
27  237.39 2017-04-05  235.085098
28  236.04 2017-04-06  237.424881
29  236.00 2017-04-07  237.308105
30  236.26 2017-04-10  236.749710
31  235.18 2017-04-11  235.989014
32  234.96 2017-04-12  235.574341
33  234.49 2017-04-13  237.225113
34  234.49 2017-04-14  236.837738
35  234.57 2017-04-17  234.830063
36  234.49 2017-04-18  237.252274
37  234.95 2017-04-19  237.460571
38  235.31 2017-04-21  236.181732
39  237.41 2017-04-24  238.032349
40  238.95 2017-04-25  237.591309
41  239.53 2017-04-26  238.456604
42  238.95 2017-04-27  238.121109
43  238.93 2017-04-28  235.849518
44  239.17 2017-05-01  238.451675
45  238.98 2017-05-02  237.717178
46  238.88 2017-05-03  237.120483
47  238.92 2017-05-04  236.130096
48  239.72 2017-05-05  236.190536
49  239.92 2017-05-08  235.578979
50  240.19 2017-05-09  236.762985
51  240.19 2017-05-10  237.850525
52  239.46 2017-05-11  235.434219
53  239.43 2017-05-12  235.138306
54  240.44 2017-05-15  236.792328

--------------------------------------------------
Column=FClose_5 accuracy=0.998150179646 mse=1.98280524804 num_predictions=55

    CClose       Date      FClose
0   237.11 2017-02-27  236.434555
1   236.47 2017-02-28  236.510025
2   239.78 2017-03-01  234.041580
3   238.27 2017-03-02  232.594925
4   238.42 2017-03-03  235.686096
5   237.71 2017-03-06  236.494537
6   237.71 2017-03-07  235.777527
7   236.56 2017-03-08  234.728180
8   236.86 2017-03-09  237.905029
9   237.69 2017-03-10  231.179260
10  237.81 2017-03-13  236.145966
11  236.90 2017-03-14  235.847733
12  238.95 2017-03-15  234.502991
13  238.48 2017-03-16  234.118912
14  237.03 2017-03-17  237.207382
15  236.77 2017-03-20  234.724274
16  233.73 2017-03-21  236.441284
17  234.28 2017-03-22  237.680954
18  234.03 2017-03-23  236.381516
19  233.86 2017-03-24  235.307632
20  233.62 2017-03-27  237.970642
21  235.32 2017-03-28  237.230652
22  235.54 2017-03-29  236.871536
23  236.29 2017-03-30  232.475800
24  235.74 2017-03-31  237.286194
25  235.33 2017-04-03  235.197113
26  235.48 2017-04-04  235.476990
27  234.78 2017-04-05  233.553894
28  235.44 2017-04-06  236.822678
29  235.20 2017-04-07  238.217285
30  235.34 2017-04-10  236.220367
31  235.06 2017-04-11  234.675919
32  234.03 2017-04-12  233.628799
33  232.51 2017-04-13  237.408386
34  234.03 2017-04-14  237.107529
35  234.57 2017-04-17  233.886322
36  233.87 2017-04-18  237.400650
37  233.44 2017-04-19  237.057693
38  234.59 2017-04-21  234.789215
39  237.17 2017-04-24  234.993515
40  238.55 2017-04-25  236.682175
41  238.40 2017-04-26  237.013947
42  238.60 2017-04-27  236.689621
43  238.08 2017-04-28  235.828934
44  238.68 2017-05-01  236.930801
45  238.77 2017-05-02  236.634476
46  238.48 2017-05-03  235.985107
47  238.76 2017-05-04  235.990326
48  239.70 2017-05-05  236.880493
49  239.66 2017-05-08  234.437592
50  239.44 2017-05-09  237.104736
51  239.66 2017-05-10  237.244461
52  239.87 2017-05-11  233.662079
53  238.98 2017-05-12  233.010788
54  240.30 2017-05-15  236.858719

## Get the Analysis Images

In [6]:
job_res = get_job_analysis(job_id, show_plots=True)

Getting analysis for job=558 url=https://redten.io/ml/analysis/558/
SUCCESS - GET Analysis Response Status=200 Reason=OK
Found Job=558 analysis
SPY-2-558 5-Days - Predictive Accuracy
Predicted Close 5 Days vs Actual Close 5 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12122_7c49dccd964548fc.png

---------------------------------------------------------------------------------------
SPY-2-558 5-Days - Predictive Accuracy
Predicted High 5 Days vs Actual High 5 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12121_5ae84fdafa034174.png

---------------------------------------------------------------------------------------
SPY-2-558 10-Days - Predictive Accuracy
Predicted Close 10 Days vs Actual Close 10 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12120_2d87f32772344921.png

---------------------------------------------------------------------------------------
SPY-2-558 15-Days - Predictive Accuracy
Predicted Close 15 Days vs Actual Close 15 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12119_c54a1003037d4eb3.png

---------------------------------------------------------------------------------------
SPY-2-558 30-Days - Predictive Accuracy
Predicted Close 30 Days vs Actual Close 30 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12118_192e7a3c4ba840fc.png

---------------------------------------------------------------------------------------
SPY-2-558 25-Days - Predictive Accuracy
Predicted Low 25 Days vs Actual Low 25 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12117_6b74cc14075f4f20.png

---------------------------------------------------------------------------------------
SPY-2-558 20-Days - Predictive Accuracy
Predicted Low 20 Days vs Actual Low 20 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12116_1fed112e3a4e42ff.png

---------------------------------------------------------------------------------------
SPY-2-558 15-Days - Predictive Accuracy
Predicted Volume 15 Days vs Actual Volume 15 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12115_795d9657c2534f76.png

---------------------------------------------------------------------------------------
SPY-2-558 30-Days - Predictive Accuracy
Predicted Volume 30 Days vs Actual Volume 30 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12114_c19203024ec84944.png

---------------------------------------------------------------------------------------
SPY-2-558 10-Days - Predictive Accuracy
Predicted Volume 10 Days vs Actual Volume 10 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12113_1b000088cf154451.png

---------------------------------------------------------------------------------------
SPY-2-558 20-Days - Predictive Accuracy
Predicted Open 20 Days vs Actual Open 20 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12112_c72e079979774d17.png

---------------------------------------------------------------------------------------
SPY-2-558 30-Days - Predictive Accuracy
Predicted High 30 Days vs Actual High 30 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12111_b0c21c4c4d0d4e7a.png

---------------------------------------------------------------------------------------
SPY-2-558 25-Days - Predictive Accuracy
Predicted Open 25 Days vs Actual Open 25 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12110_2a27883839464a6c.png

---------------------------------------------------------------------------------------
SPY-2-558 15-Days - Predictive Accuracy
Predicted High 15 Days vs Actual High 15 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12109_325e5fefa07a444d.png

---------------------------------------------------------------------------------------
SPY-2-558 10-Days - Predictive Accuracy
Predicted High 10 Days vs Actual High 10 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12108_7dfe5cad6dd341c2.png

---------------------------------------------------------------------------------------
SPY-2-558 15-Days - Predictive Accuracy
Predicted Low 15 Days vs Actual Low 15 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12107_2fcaa612a10346d9.png

---------------------------------------------------------------------------------------
SPY-2-558 5-Days - Predictive Accuracy
Predicted Open 5 Days vs Actual Open 5 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12106_29c5e186270348f4.png

---------------------------------------------------------------------------------------
SPY-2-558 10-Days - Predictive Accuracy
Predicted Low 10 Days vs Actual Low 10 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12105_7139a2dd4df5447b.png

---------------------------------------------------------------------------------------
SPY-2-558 25-Days - Predictive Accuracy
Predicted Close 25 Days vs Actual Close 25 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12104_74d4b72e2bd342d6.png

---------------------------------------------------------------------------------------
SPY-2-558 5-Days - Predictive Accuracy
Predicted Volume 5 Days vs Actual Volume 5 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12103_286431b3eabc4af5.png

---------------------------------------------------------------------------------------
SPY-2-558 20-Days - Predictive Accuracy
Predicted Close 20 Days vs Actual Close 20 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12102_b8f6174000f5455c.png

---------------------------------------------------------------------------------------
SPY-2-558 30-Days - Predictive Accuracy
Predicted Low 30 Days vs Actual Low 30 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12101_bfe9888ad15648f9.png

---------------------------------------------------------------------------------------
SPY-2-558 25-Days - Predictive Accuracy
Predicted Volume 25 Days vs Actual Volume 25 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12100_0761ea1b0f684ce9.png

---------------------------------------------------------------------------------------
SPY-2-558 20-Days - Predictive Accuracy
Predicted Volume 20 Days vs Actual Volume 20 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12099_8f73f41290794595.png

---------------------------------------------------------------------------------------
SPY-2-558 20-Days - Predictive Accuracy
Predicted High 20 Days vs Actual High 20 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12098_5fd3e28826754f24.png

---------------------------------------------------------------------------------------
SPY-2-558 30-Days - Predictive Accuracy
Predicted Open 30 Days vs Actual Open 30 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12097_214858c79e704f4c.png

---------------------------------------------------------------------------------------
SPY-2-558 25-Days - Predictive Accuracy
Predicted High 25 Days vs Actual High 25 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12096_168bcf41ff5142ad.png

---------------------------------------------------------------------------------------
SPY-2-558 15-Days - Predictive Accuracy
Predicted Open 15 Days vs Actual Open 15 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12095_de06fd5548504b41.png

---------------------------------------------------------------------------------------
SPY-2-558 5-Days - Predictive Accuracy
Predicted Low 5 Days vs Actual Low 5 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12094_354bb5267c694ba5.png

---------------------------------------------------------------------------------------
SPY-2-558 10-Days - Predictive Accuracy
Predicted Open 10 Days vs Actual Open 10 Days
URL: https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12093_e2ecdc03bc8a4f30.png

## Get the Recent Machine Learning Jobs

In [7]:
user_token = user_login(rt_user, rt_pass, rt_url)
auth_headers = {
                "Authorization" : "JWT " + str(user_token)
            }
resource_url = rt_url + "/ml/run/"
query_params = {}
post_data = {}

# Get the ML Job
resource_url = rt_url + "/ml/jobs/"

lg("Running Get ML Job url=" + str(resource_url), 6)
get_response = requests.get(resource_url, params=query_params, data=post_data, headers=auth_headers)

if get_response.status_code != 201 and get_response.status_code != 200:
    lg("Failed with GET Response Status=" + str(get_response.status_code) + " Reason=" + str(get_response.reason), 0)
    lg("Details:\n" + str(get_response.text) + "\n", 0)
else:
    lg("SUCCESS - GET Response Status=" + str(get_response.status_code) + " Reason=" + str(get_response.reason)[0:10], 5)

    as_json = True
    record = {}
    if as_json:
        record = json.loads(get_response.text)
        lg(ppj(record))
# end of post for running an ML Job

Running Get ML Job url=https://redten.io/ml/jobs/
SUCCESS - GET Response Status=200 Reason=OK
{
    "jobs": [
        {
            "algo_name": "xgb-regressor",
            "control_state": "active",
            "created": "2017-05-26 08-02-13",
            "csv_file": "",
            "desc": "Forecast simulation - 2017-05-26 08:02:13",
            "ds_name": "SPY",
            "feature_column_names": [
                "FHigh",
                "FLow",
                "FOpen",
                "FClose",
                "FVolume"
            ],
            "id": 558,
            "ignore_features": [
                "Ticker",
                "Date",
                "FDate",
                "FPrice",
                "DcsnDate",
                "Decision"
            ],
            "images": [
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12122_7c49dccd964548fc.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12121_5ae84fdafa034174.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12120_2d87f32772344921.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12119_c54a1003037d4eb3.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12118_192e7a3c4ba840fc.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12117_6b74cc14075f4f20.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12116_1fed112e3a4e42ff.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12115_795d9657c2534f76.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12114_c19203024ec84944.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12113_1b000088cf154451.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12112_c72e079979774d17.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12111_b0c21c4c4d0d4e7a.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12110_2a27883839464a6c.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12109_325e5fefa07a444d.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12108_7dfe5cad6dd341c2.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12107_2fcaa612a10346d9.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12106_29c5e186270348f4.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12105_7139a2dd4df5447b.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12104_74d4b72e2bd342d6.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12103_286431b3eabc4af5.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12102_b8f6174000f5455c.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12101_bfe9888ad15648f9.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12100_0761ea1b0f684ce9.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12099_8f73f41290794595.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12098_5fd3e28826754f24.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12097_214858c79e704f4c.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12096_168bcf41ff5142ad.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12095_de06fd5548504b41.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12094_354bb5267c694ba5.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12093_e2ecdc03bc8a4f30.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170526/2_558_12092_954ad32f51ef47f4.png"
            ],
            "manifest_secret_key": "live_2_f3f31f711f1b4081862a1927be0758880c3b3f00e2848aeb2a7f68997b4e17",
            "manifest_sloc": "redten-models-west:SPY-2-558_manifest.json",
            "max_features": 10,
            "ml_type": "Playbook-UnitsAhead",
            "prediction_type": "forecast",
            "rloc": "",
            "sloc": "",
            "status": "completed",
            "target_column_name": "FClose",
            "target_column_values": [
                "GoodBuys",
                "BadBuys",
                "Not Finished"
            ],
            "title": "SPY Forecast v5 - 34d6bf175cad4aaf9234aa06e95f4e4",
            "units_ahead_set": [
                5,
                10,
                15,
                20,
                25,
                30
            ],
            "units_ahead_type": "Days",
            "updated": "2017-05-26 08-03-53",
            "version": 1
        },
        {
            "algo_name": "xgb-regressor",
            "control_state": "active",
            "created": "2017-05-23 22-48-19",
            "csv_file": "/opt/work/data/src/iris.csv",
            "desc": "This is a Description for - Hello World - 2017-05-23-22-48-19",
            "ds_name": "iris_regressor",
            "feature_column_names": [
                "SepalLength",
                "SepalWidth",
                "PetalLength",
                "PetalWidth",
                "ResultTargetValue"
            ],
            "id": 557,
            "ignore_features": [
                "ResultLabel"
            ],
            "images": [
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12091_4fdb0c2731074b5c.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12090_82e81ab1f9d54d09.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12089_db2ec909b1f84946.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12088_7316b1cc3a86413d.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12087_f475c7062acc4e03.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12086_b3ef117e966d45a4.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12085_87d25f7a41ba41d5.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12084_2b85954122e4452d.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12083_87091b7a48f64bf8.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12082_160492c43ac5415d.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12081_994b29e1e64b4c48.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12080_bacd0a3063e643b1.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12079_61d46d9599f6484d.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12078_8b49ca61b2984b6f.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12077_7c6bbe897e684ea3.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12076_ca83a370b4114a88.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12075_a0d64fc564fb4a3b.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12074_4591faca0ca54ecd.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12073_2a41ad8f67804a32.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12072_a4e071ac32fc4177.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12071_bc9e7fd426c444bf.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12070_7f5af55e914444aa.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12069_01ba1d04ca204f1a.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_557_12068_11ef9edc123542be.png"
            ],
            "manifest_secret_key": "live_2_9a5a34e96cca479e98ac8cc47d6fb53448557fa02d447c0bdcf167b8e4a645",
            "manifest_sloc": "redten-models-west:IRIS_REGRESSOR-2-557_manifest.json",
            "max_features": 10,
            "ml_type": "Predict with Filter",
            "prediction_type": "predict",
            "rloc": "",
            "sloc": "",
            "status": "completed",
            "target_column_name": "ResultLabel",
            "target_column_values": [
                "Iris-setosa",
                "Iris-versicolor",
                "Iris-virginica"
            ],
            "title": "Hello World - 2017-05-23-22-48-19",
            "units_ahead_set": [],
            "units_ahead_type": "",
            "updated": "2017-05-23 22-49-13",
            "version": 1
        },
        {
            "algo_name": "xgb-regressor",
            "control_state": "active",
            "created": "2017-05-23 22-24-09",
            "csv_file": "",
            "desc": "Forecast simulation - 2017-05-23 22:24:08",
            "ds_name": "SPY",
            "feature_column_names": [
                "FHigh",
                "FLow",
                "FOpen",
                "FClose",
                "FVolume"
            ],
            "id": 556,
            "ignore_features": [
                "Ticker",
                "Date",
                "FDate",
                "FPrice",
                "DcsnDate",
                "Decision"
            ],
            "images": [
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12067_a1d9483443844be5.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12066_bd242932692b48f1.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12065_c42e1ef3ecda4a50.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12064_4929471da7b848dc.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12063_3f0f9b7a91e6477d.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12062_50476dc42b95485a.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12061_087ef25764154835.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12060_c3c6ab2f04ae4669.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12059_974874fc3c0c4c4b.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12058_660025f112e04a51.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12057_ceced8e2215749e5.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12056_53ca82cd037c4ebb.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12055_76b743196398499f.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12054_72baf6fe1cff49dd.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12053_de8af6d2ab474eb4.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12052_26fbe6058c114619.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12051_184561aa8af3489a.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12050_430a5186b3d945e4.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12049_49d5e69d8c104eb2.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12048_7f90d455f7df4e2f.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12047_eba8de31f57e466a.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12046_8c585f82cd0948c5.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12045_db89689ffd49445c.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12044_f64ef76a00cb4bb9.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12043_ddeb69b9254b4595.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12042_152cb94cf47f4557.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12041_cf802c6530714ae7.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12040_a3e6aafa5e6241c4.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12039_dba3efb9b56c4bb5.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12038_c8fc6f8d4e294881.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_556_12037_0523b881d6a64baa.png"
            ],
            "manifest_secret_key": "live_2_ab288f9631d848b2a11cc4537728dc3d844c041bf934a6abdae5d6bbce3513",
            "manifest_sloc": "redten-models-west:SPY-2-556_manifest.json",
            "max_features": 10,
            "ml_type": "Playbook-UnitsAhead",
            "prediction_type": "forecast",
            "rloc": "",
            "sloc": "",
            "status": "completed",
            "target_column_name": "FClose",
            "target_column_values": [
                "GoodBuys",
                "BadBuys",
                "Not Finished"
            ],
            "title": "SPY Forecast v5 - 1394ae9d74c24d5886f9608d3dd6328",
            "units_ahead_set": [
                5,
                10,
                15,
                20,
                25,
                30
            ],
            "units_ahead_type": "Days",
            "updated": "2017-05-23 22-25-51",
            "version": 1
        },
        {
            "algo_name": "xgb-regressor",
            "control_state": "active",
            "created": "2017-05-23 22-00-11",
            "csv_file": "",
            "desc": "Forecast simulation - 2017-05-23 22:00:09",
            "ds_name": "SPY",
            "feature_column_names": [
                "FHigh",
                "FLow",
                "FOpen",
                "FClose",
                "FVolume"
            ],
            "id": 555,
            "ignore_features": [
                "Ticker",
                "Date",
                "FDate",
                "FPrice",
                "DcsnDate",
                "Decision"
            ],
            "images": [
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12036_b5cb1f3c8a554dd2.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12035_1cb38442136f4719.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12034_b74469132a794f8e.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12033_42cb601864994eb2.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12032_bf48ad03bdf7426e.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12031_19276b3843ea467e.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12030_bdcb901323804a6b.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12029_c7e56bc6a77748d6.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12028_f5d022f810ba4283.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12027_2620b246cfd54a68.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12026_bf5288b75d994cde.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12025_beec39f18bb84469.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12024_3a4a00f45ddb4472.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12023_916304a8e7184119.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12022_f335bee9141a4d39.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12021_3e6c529854ec47dd.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12020_5b859fd5b3ca417e.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12019_813dbe0a739d4aa4.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12018_dd20dc4f941946e4.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12017_3089d07bad8c4b85.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12016_029cb3266c46413d.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12015_5ee300ed25504c2b.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12014_5d8cfd12bc7f49bf.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12013_3b28fd99ff354edb.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12012_1a9331b9b8e24145.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12011_f65ee56325394208.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12010_17b819f13e914bfa.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12009_c70ec6e3690e466c.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12008_6e0222bdc5ab4adf.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12007_981709fca5e94062.png",
                "https://rt-media.s3.amazonaws.com/media/imagesml/20170523/2_555_12006_75950bb597ae44cf.png"
            ],
            "manifest_secret_key": "live_2_9cf95533d27e4668a88641797cf512d7f6e274a4c954f66a2f9f53d20bee20",
            "manifest_sloc": "redten-models-west:SPY-2-555_manifest.json",
            "max_features": 10,
            "ml_type": "Playbook-UnitsAhead",
            "prediction_type": "forecast",
            "rloc": "",
            "sloc": "",
            "status": "completed",
            "target_column_name": "FClose",
            "target_column_values": [
                "GoodBuys",
                "BadBuys",
                "Not Finished"
            ],
            "title": "SPY Forecast v5 - 6b8e2873aaa84e3a8eadf5f260151c7",
            "units_ahead_set": [
                5,
                10,
                15,
                20,
                25,
                30
            ],
            "units_ahead_type": "Days",
            "updated": "2017-05-23 22-02-14",
            "version": 1
        },
        {
            "algo_name": "xgb-regressor",
            "control_state": "active",
            "created": "2017-05-23 17-54-29",
            "csv_file": "",
            "desc": "Forecast simulation - 2017-05-23 17:54:29",
            "ds_name": "SPY",
            "feature_column_names": [
                "FHigh",
                "FLow",
                "FOpen",
                "FClose",
                "FVolume"
            ],
            "id": 554,
            "ignore_features": [
                "Ticker",
                "Date",
                "FDate",
                "FPrice",
                "DcsnDate",

## Redis Machine Learning Manifest

Jobs use a manifest to prevent concurrent jobs in-flight and models from colliding between users and historical machine learning jobs

![Redis is awesome](http://i.imgur.com/BobKxGp.png)

#### A manifest contains:

1. A dictionary of Redis model locations
1. S3 archival locations
1. Tracking data for import and export across environments
1. Decoupled large model files (8gb files in S3) from the tracking and deployment

In [8]:
job_manifest = get_job_cache_manifest(job_report)
lg(ppj(job_manifest))

{
    "11811": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_0",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11811_modelkey_MD_SPY-2-558_cd1d9a_0.cache.pickle.zlib",
        "target": "FOpen_10",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11812": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_1",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11812_modelkey_MD_SPY-2-558_cd1d9a_1.cache.pickle.zlib",
        "target": "FLow_5",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11813": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_2",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11813_modelkey_MD_SPY-2-558_cd1d9a_2.cache.pickle.zlib",
        "target": "FOpen_15",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11814": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_3",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11814_modelkey_MD_SPY-2-558_cd1d9a_3.cache.pickle.zlib",
        "target": "FHigh_25",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11815": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_4",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11815_modelkey_MD_SPY-2-558_cd1d9a_4.cache.pickle.zlib",
        "target": "FOpen_30",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11816": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_5",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11816_modelkey_MD_SPY-2-558_cd1d9a_5.cache.pickle.zlib",
        "target": "FHigh_20",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11817": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_6",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11817_modelkey_MD_SPY-2-558_cd1d9a_6.cache.pickle.zlib",
        "target": "FVolume_20",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11818": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_7",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11818_modelkey_MD_SPY-2-558_cd1d9a_7.cache.pickle.zlib",
        "target": "FVolume_25",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11819": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_8",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11819_modelkey_MD_SPY-2-558_cd1d9a_8.cache.pickle.zlib",
        "target": "FLow_30",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11820": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_9",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11820_modelkey_MD_SPY-2-558_cd1d9a_9.cache.pickle.zlib",
        "target": "FClose_20",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11821": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_10",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11821_modelkey_MD_SPY-2-558_cd1d9a_10.cache.pickle.zlib",
        "target": "FVolume_5",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11822": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_11",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11822_modelkey_MD_SPY-2-558_cd1d9a_11.cache.pickle.zlib",
        "target": "FClose_25",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11823": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_12",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11823_modelkey_MD_SPY-2-558_cd1d9a_12.cache.pickle.zlib",
        "target": "FLow_10",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11824": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_13",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11824_modelkey_MD_SPY-2-558_cd1d9a_13.cache.pickle.zlib",
        "target": "FOpen_5",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11825": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_14",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11825_modelkey_MD_SPY-2-558_cd1d9a_14.cache.pickle.zlib",
        "target": "FLow_15",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11826": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_15",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11826_modelkey_MD_SPY-2-558_cd1d9a_15.cache.pickle.zlib",
        "target": "FHigh_10",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11827": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_16",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11827_modelkey_MD_SPY-2-558_cd1d9a_16.cache.pickle.zlib",
        "target": "FHigh_15",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11828": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_17",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11828_modelkey_MD_SPY-2-558_cd1d9a_17.cache.pickle.zlib",
        "target": "FOpen_25",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11829": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_18",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11829_modelkey_MD_SPY-2-558_cd1d9a_18.cache.pickle.zlib",
        "target": "FHigh_30",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11830": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_19",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11830_modelkey_MD_SPY-2-558_cd1d9a_19.cache.pickle.zlib",
        "target": "FOpen_20",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11831": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_20",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11831_modelkey_MD_SPY-2-558_cd1d9a_20.cache.pickle.zlib",
        "target": "FVolume_10",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11832": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_21",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11832_modelkey_MD_SPY-2-558_cd1d9a_21.cache.pickle.zlib",
        "target": "FVolume_30",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11833": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_22",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11833_modelkey_MD_SPY-2-558_cd1d9a_22.cache.pickle.zlib",
        "target": "FVolume_15",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11834": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_23",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11834_modelkey_MD_SPY-2-558_cd1d9a_23.cache.pickle.zlib",
        "target": "FLow_20",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11835": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_24",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11835_modelkey_MD_SPY-2-558_cd1d9a_24.cache.pickle.zlib",
        "target": "FLow_25",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11836": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_25",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11836_modelkey_MD_SPY-2-558_cd1d9a_25.cache.pickle.zlib",
        "target": "FClose_30",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11837": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_26",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11837_modelkey_MD_SPY-2-558_cd1d9a_26.cache.pickle.zlib",
        "target": "FClose_15",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11838": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_27",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11838_modelkey_MD_SPY-2-558_cd1d9a_27.cache.pickle.zlib",
        "target": "FClose_10",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11839": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_28",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11839_modelkey_MD_SPY-2-558_cd1d9a_28.cache.pickle.zlib",
        "target": "FHigh_5",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    },
    "11840": {
        "rloc": "MODELS:_MD_SPY-2-558_cd1d9a_29",
        "sloc": "redten-models-west:rt_models_userid_2_job_558_train_450_jobresults_413_modelid_11840_modelkey_MD_SPY-2-558_cd1d9a_29.cache.pickle.zlib",
        "target": "FClose_5",
        "tracking_id": "ML_SPY-2-558_95aa375d14684a8182fe20b566090a3",
        "tracking_name": "SPY-2-558",
        "tracking_type": "UseTargetColAndUnits"
    }
}

## Multiple Models stored in Redis

Here's how models are stored in the Redis machine learning data store

![Forecast storing multiple models in Redis](http://i.imgur.com/zUxspVL.gif)

### Conclusion

Today's talk focused on:

1. Using Redis as a machine learning data store for housing 1000s of pre-trained models
1. Streamlining model pipelines to automate build + train + predict + export/import using a REST API
1. How time intensive and expensive it is to continually rebuild machine learning models from scratch
1. The importance of tracking model accuracy and performance over time
1. How using a system like Red10 can enable an organization or team of data scientists to quickly test datasets and new ideas without stomping on each other's work
1. How this approach can make predictions from __any dataset__...not just stocks
1. This can make predictions with lots of different technologies

![Red10 Use Cases for Machine Learning](http://i.imgur.com/WWDYzGb.jpg)